/* Add your CSS Code here */
input,textarea{
	color:black;
}

#contact {
    padding-top: 20px;
}

#header-title {
    height: 300px;
}

.hi {
	font-size: 15px;


}
#submit{
	align-self: center;

}
.container{
	text-align: center;
}
<h1>{
	font-size: 40pt;
}