<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',
filename='css/style.css') }}">
</head>
<body>
<div id="about">
<h1>About us</h1>
<p>Hello we are Noura, Hamzeh, Mahmoud, Nimrod and Halleli, and welcome to our website WE R 1!!

We are students that participate in the educational program called MEET, a program that brings together Israeli and Palestinian teenagers by teaching them computer science and entrepreneurship.

MEET gives us a special opportunity to meet people, cultures, and stories that are totally different  from what we know. Not everyone has that opportunity, and they don't get to share and hear personal stories from different regions.

 Because of that, we created we R 1, a  site that allows people to share their personal story and of course read personals stories of people from different regions, nationalities and cultures.
The reason we chose stories is because we believe that stories are the best honest way to learn about human beings</p>
</div>
</body>

</html>