<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',
filename='css/style.css') }}">
</head>
<body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQqVH439B4h0lTKEoOwtAJWecMsFRZprYzJMx3Zi9wa6mtv3ig">
<div id="about" style="color: white">
<h1><center> About us </center> </h1>
<br>
<div class="container">
<h2><center><b><i>Hello dear users</i> </b> <br> <br> </center> </h2>
<h3><b><center> Welcome to our website WE R 1!!</b><br><br> </center></h3>

<p><center> 

<strong>We are Noura Barakat, Hamzeh Zuaiter, Mahmoud Khalifa, Nimrod Mor and Halleli Busheri</strong> <br> <br>

We are students that participate in the educational program called MEET, in which it brings Israeli and Palestinian teenagers together by teaching them Computer Science and Entrepreneurship.

MEET gives us the opportunity to meet people, discover cultures and stories that are totally different  from what we know, moreover we get to share and hear personal stories from different regions.

Because of that, we created we R 1, a  site that allows people to share their personal stories and read personals stories from different regions, nationalities and cultures.
The reason we chose stories is because we believe that stories are the best honest way to learn about human beings</p>
</center> </div>
<br>
<br>
<br>
<center><div>
<img src= "{{ url_for('static',filename='img/us.JPG') }}" width="400px" height="300px"> </div> </center>
</body> 

</html>