{% extends "index.html" %}
{% block body %}
<form action="{{ url_for('add_comment',articleid=article.id) }}" method="POST">
<center><h1>{{article.title}}<br></h1>
<h3>{{article.explanation}}</h3></center>
<h1>Add Comment:</h1>
<center><textarea rows="4" cols="100" name="comment"></textarea><input type="submit"></center>
</form>
<br>
<br>
<br>
<font color="Green">
{% for i in range(lencomments) %}

{% if i%2!=0 %}
<div class="jumbotron">
{% endif %}
<h1>
{{users[i].name}}
</h1>
<br>
<h2>
&nbsp;&nbsp;{{comments[i].comment}}
</h2>
<br>
<br>
{% if i%2!=0 %}
</div>
{% endif %}
{% endfor %}
</font>
{% endblock %}